.content-block.build-header
  = ci_status_with_icon(@build.status)
  构建
  %strong ##{@build.id}
  (来自
  = link_to namespace_project_commits_path(@project.namespace, @project, @build.ref) do
    %code
      = @build.ref
  的提交
  = link_to ci_status_path(@build.pipeline) do
    %strong= @build.pipeline.short_sha  
  )
  - if @build.user
    = render "user"
  = time_ago_with_tooltip(@build.created_at)
  %button.btn.btn-default.pull-right.visible-xs-block.visible-sm-block.build-gutter-toggle.js-sidebar-build-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')
