- admin = local_assigns.fetch(:admin, false)

- if builds.blank?
  %div
    .nothing-here-block 没有构建可以显示
- else
  .table-holder
    %table.table.ci-table.builds-page
      %thead
        %tr
          %th 状态
          %th 构建
          - if admin
            %th 项目
            %th Runner
          %th 步骤
          %th 名称
          %th
          %th 覆盖率
          %th

      = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: { commit_sha: true, ref: true, stage: true, allow_retry: true, coverage: admin || project.build_coverage_enabled?, admin: admin }

  = paginate builds, theme: 'gitlab'
