- if can?(current_user, :create_deployment, environment) && environment.stoppable?
  .inline
    = link_to stop_namespace_project_environment_path(@project.namespace, @project, environment), method: :post,
      class: 'btn stop-env-link', rel: 'nofollow', data: { confirm: '确定要停止该运行环境？' } do
      = icon('stop', class: 'stop-env-icon')
